<!-- @format -->

{% load static %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
    document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
    });
</script>
<script>
    var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
    var navbarTop = document.querySelector(".navbar-top");
    if (navbarTopStyle === "darker") {
        navbarTop.setAttribute("data-navbar-appearance", "darker");
    }

    var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
    var navbarVertical = document.querySelector(".navbar-vertical");
    if (navbarVertical && navbarVerticalStyle === "darker") {
        navbarVertical.setAttribute("data-navbar-appearance", "darker");
    }
</script>
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
{% comment %} <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script> {% endcomment %}
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'assets/js/phoenix.js' %}"></script>
<script src="{% static 'vendors/leaflet/leaflet.js' %}"></script>
<script src="{% static 'vendors/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
<script src="{% static 'vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script>
<script src="{% static 'assets/js/ecommerce-dashboard.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona todos os alertas renderizados na tela
        const alertas = document.querySelectorAll(".alert");

        alertas.forEach((alerta) => {
            // Verifica se o alerta tem a tag dinâmica (ex: timeout-5000)
            const classeTimeout = Array.from(alerta.classList).find((c) =>
                c.startsWith("alert-timeout-"),
            );

            if (classeTimeout) {
                // Extrai apenas o número (5000) e converte para inteiro
                const tempoMs = parseInt(classeTimeout.split("-")[2]);

                // Configura o timer
                setTimeout(() => {
                    // Tira a classe 'show' nativa do Bootstrap para iniciar o fade out
                    alerta.classList.remove("show");
                    alerta.style.transition = "opacity 0.25s ease";
                    alerta.style.opacity = "0";

                    // Aguarda o fim da animação visual (500ms) para remover do código HTML
                    setTimeout(() => alerta.remove(), 500);
                }, tempoMs);
            }
        });
    });
</script>
<!-- <script src="{% static 'assets/js/flatpickr.js' %}"></script> -->
