<!-- @format -->

{% load static %}
<!doctype html>
<html
    data-navigation-type="default"
    data-navbar-horizontal-shape="default"
    lang="pt-BR"
    dir="ltr"
>
    {% include 'main/comp/index_head.html' %}

    <body class="nav-slim">
        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="main" id="top">
            <!-- ===============================================-->
            <!-- Inclui barra de navegação vertiucal-->
            <!-- ===============================================-->
            {% include 'main/comp/index_nav_vertical.html' %}

            <!-- ===============================================-->
            <!-- Barra horizontal -->
            <!-- ===============================================-->
            {% include 'main/comp/index_nav_horizontal.html' %}

            <!-- ===============================================-->
            <!-- Conteúdo -->
            <!-- ===============================================-->
            <div id="conteudo" class="content">
                <!-- Começa o bloco de mensagens -->
                {% if messages %}
                <div class="toast-container-custom">
                    {% for message in messages %}
                    <div
                        class="alert alert-{{ message.tags }} alert-dismissible fade show shadow"
                        role="alert"
                    >
                        {{ message }}
                        <button
                            class="btn-close"
                            type="button"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                        ></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Começa o bloco de conteúdo -->
                {% block conteudo %}
                <!-- Termina o bloco de conteúdo -->
                {% endblock conteudo %}
                <!-- Rodapé -->
            </div>
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->

        <!-- ===============================================-->
        <!--    JavaScripts -->
        <!-- ===============================================-->
        {% include 'main/comp/index_scripts.html' %}
    </body>
</html>
